.page-header {
  border-bottom: 1px solid #e5e5e5;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: nowrap;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  @extend %list;
  display: flex;

  &__item {
    position: relative;
    margin-right: 50px;
  }
  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    @extend %link;
    box-sizing: border-box;
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link--current {
    @extend %link;
    position: relative;
    color: var(--accent-color);
  }

  &__link:hover {
    color: var(--accent-color);
  }

  &__link--current::after {
    position: absolute;

    display: flex;
    bottom: 0;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

.contacts {
  @extend %list;
  display: flex;
  margin-left: auto;
  align-items: center;

  &__items {
    margin-right: 50px;
    margin-left: auto;
    text-align: right;
  }

  &__items:last-child {
    margin-right: 0;
  }

  &__link {
    @extend %link;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--paragraph-text-color);
    align-items: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }

  &__link:hover .contacts__icon,
  &__link:focus .contacts__icon {
    fill: var(--accent-color);
  }
  &__icon {
    margin-right: 10px;
    fill: var(--primary-text-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
