.clients {
  @extend %section;
}
.clients-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &__item {
    @media screen and (max-width: 479px) {
      max-width: 210px;
      flex-basis: calc((100% - 30px) / 2);
    }

    // flex-basis: calc((100% - 150px) / 6);
    // max-width: 170px;
  }

  &__link {
    @extend %link;
    display: flex;
    height: 92px;
    border: 1px solid var(--icons-color);
    border-radius: 4%;
    color: var(--icons-color);
    align-items: center;
    justify-content: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }

  .clients-list__icon {
    fill: currentcolor;
  }
}
