.works {
  display: none;
  @extend %section;

  @media screen and (min-width: 1200px) {
    padding-top: 0;
    display: block;
  }
}
.work-list {
  @extend %list;
  display: flex;
  gap: 30px;

  &__item {
    flex-basis: calc((100% - 60px) / 3);
  }

  &__thumb {
    position: relative;
  }

  &__text {
    position: absolute;

    bottom: 0%;
    width: 370px;
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--primery-bg-color);
    background-color: rgba(47, 48, 58, 0.8);
    text-transform: uppercase;
    text-align: center;
  }
}
