.section-hero {
  padding: 118px 0;
  max-width: 480px;
  background-color: var(--hero-footer-background);
  @media screen and (max-width: 767px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images/mobile/header@1x.jpg);
  }

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  // padding: 200px 0;
  // max-width: 1600px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0;
  margin-left: 0;
}
