.section-hero {
  @extend %section;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mobile/hero@1x.jpg);
  background-color: var(--hero-footer-background);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (max-width: 481px) and (min-width: 767px) {
    padding: 118px 0;
  }

  @media screen and (max-width: 1199px) {
    padding: 118px 0;
  }

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mobile/hero@2x.jpg);
  }
}

@media (min-width: 481px) {
  .section-hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet/hero@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../images/tablet/hero@2x.jpg);
    }
  }
}

@media (min-width: 1024px) {
  .section-hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/desktop/hero@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/desktop/hero@2x.jpg);
    }
  }
}

.hero {
  display: flex;
  margin: 0 auto;
  max-width: 1600px;
  flex-direction: column;
  align-items: center;
}
