.main-button {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 4px;
  border: none;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  color: var(--primery-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
  &__hero {
    padding: 10px 15px;
    align-self: center;
  }

  &__subscribe {
    display: inline-flex;
    margin-top: 20px;
    margin-right: 0;
    padding: 10px 27px;
    align-items: center;
    align-self: center;
    @media screen and (min-width: 1200px) {
      margin-top: 0;
      margin-left: 12px;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: var(--primery-bg-color);
  }

  &__subscribe::after {
    content: "";
  }

  &__form {
    display: block;
    margin: 0 auto;
  }
}

.button-secondary {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border-radius: 4px;
  border: none;
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.button-secondary--active {
    color: var(--primery-bg-color);
    background-color: var(--accent-color);
  }
}

.buttons-group {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  &__portfolio {
    margin-bottom: 40px;
    @media screen and (min-width: 768px) {
      margin: 0 96px 0 30px;
    }

    @media screen and (min-width: 1200px) {
      margin: 0 50px;
      justify-content: center;
    }
  }

  &__button-secondary {
    font-family: inherit;
  }

  &__button:hover,
  &__button:focus {
    color: var(--primery-bg-color);
    background-color: var(--accent-color);
  }

  &__item {
    display: inline-block;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 15px;
  }
  &__item:focus,
  &__item:hover {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
}

.button-close {
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primery-bg-color);
  border-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: var(--accent-color);
  }

  &__icon {
    width: 11px;
    height: 11px;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: var(--primery-bg-color);
  cursor: pointer;
  border: none;
  outline: none;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &__icon {
    right: 0;
    display: inline-block;
    width: 40px;
    height: 40px;
  }

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
