.form {
  display: block;
  padding: 40px;

  &__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
  }

  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--paragraph-text-color);
  }

  &__input {
    width: 100%;
    margin-top: 4px;
    padding: 12px 12px 12px 42px;
    height: 40px;

    border: 1px solid var(--paragraph-text-color);
    border-radius: 4px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__input:focus {
    border: 1px solid var(--accent-color);
  }

  &__icon {
    position: absolute;
    right: 18px;
    bottom: 11px;
    left: 12px;
    width: 18px;
    height: 18px;

    border: none;
    fill: currentColor;
    outline: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__textarea {
    margin-top: 4px;
    padding: 12px 16px;
    height: 120px;

    border-radius: 4px;
    border: 1px solid var(--paragraph-text-color);
    resize: none;
    outline: none;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  &__textarea:focus {
    color: var(--primary-text-color);
  }

  &__lable {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  &__lable:nth-child(5) {
    margin-bottom: 20px;
  }
  &__lable:focus-within > &__icon {
    fill: var(--accent-color);
  }
}

.form-checkbox {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  gap: 8px;

  &__input {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  &__icon {
    display: block;
    width: 16px;
    height: 15px;

    outline: 2px solid var(--primary-text-color);
    outline-offset: -2px;
    border-radius: 2px;
    transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon-checked {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__input:checked + &__icon &__icon-checked {
    opacity: 1;
  }
  &:checked + &__icon {
    outline-color: transparent;
  }

  &__policy {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--paragraph-text-color);
  }
  &__policy-link {
    margin-left: 3px;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: underline;
  }
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media screen and (min-width: 1200px) {
    display: block;
    margin-left: auto;
  }
}

.form__subscribe {
  display: flex;
  width: 100%;
  max-width: 450px;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }

  // align-self: center;

  padding: 0;

  &-lable {
    width: 100%;
    align-self: center;
    @media screen and (min-width: 1200px) {
      width: 358px;
      align-self: center;
    }
  }

  &-email {
    display: inline-block;
    width: 100%;

    // width: 358px;

    height: 50px;
    padding: 15px 16px;

    border-radius: 4px;
    border: 1px solid var(--primery-bg-color-transparent);
    color: var(--primery-bg-color);
    background-color: var(--hero-footer-background);
    outline: none;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-email:focus,
  &-email:active {
    border: 1px solid var(--accent-color);
  }
}
