.brand-logo,
.brand-logo__page-header {
  @extend %link;
}

.brand-logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;

  letter-spacing: 0.03em;
  color: var(--accent-color);

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }

  &__item {
    color: var(--primary-text-color);
  }

  &__footer {
    margin-bottom: 20px;
  }

  &__item--light {
    color: var(--primery-bg-color);
  }
}
