.brand-logo,
.brand-logo__page-header {
  @extend %link;
}

.brand-logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);

  &__item {
    color: var(--primary-text-color);
  }

  &__footer {
    margin-bottom: 20px;
  }

  &__item--light {
    color: var(--primery-bg-color);
  }
}

.brand-logo__page-header {
  margin-right: 93px;
}
