.main-navigation {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.site-nav {
  @extend %list;
  display: flex;

  &__item {
    position: relative;
    margin-right: 50px;
  }
  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    @extend %link;
    box-sizing: border-box;
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link--current {
    @extend %link;
    position: relative;
    color: var(--accent-color);
  }

  &__link:hover {
    color: var(--accent-color);
  }

  &__link--current::after {
    position: absolute;

    display: flex;
    bottom: 0;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

.contacts {
  @extend %list;
  margin-left: auto;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: flex-end;
    gap: 30px;
  }

  &__link {
    @extend %link;

    display: flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;

    letter-spacing: 0.02em;
    color: var(--paragraph-text-color);
    align-items: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1200px) {
      padding-top: 32px;
      padding-bottom: 32px;
      font-size: 14px;
      line-height: 1.33;
    }
  }

  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }

  &__link:hover .contacts__icon,
  &__link:focus .contacts__icon {
    fill: var(--accent-color);
  }
  &__icon-mail {
    margin-right: 10px;
    width: 14px;
    height: 10px;
    fill: var(--primary-text-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 1200px) {
      width: 16px;
      height: 12px;
    }
  }
  &__icon-phone {
    margin-right: 10px;
    width: 10px;
    height: 14px;
    fill: var(--primary-text-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (max-width: 1200px) {
      width: 10px;
      height: 16px;
    }
  }
}

.contacts__mobile {
  @extend %list;
  margin-top: 210px;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.contacts__mobile-item {
  margin-bottom: 32px;
}

.contacts__mobile-item:last-child {
  margin-bottom: 0;
}

.contacts__mobile-link {
  @extend %link;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--paragraph-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__mobile-link--current {
  font-size: 24px;
  color: var(--accent-color);

  @media screen and (min-width: 480px) {
    font-size: 34px;
  }
}

.contacts__mobile-link:hover,
.contacts__mobile-link:focus {
  color: var(--accent-color);
}
