.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: scroll;
  justify-content: end;
  border-radius: 4px;
  background-color: var(--primery-bg-color);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 479px) {
    min-width: 90%;
    min-height: 90%;
  }

  @media screen and (min-width: 480px) and (max-width: 768px) {
    width: 450px;
    height: 609px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}
