.overlay-box {
  position: relative;
  max-width: 450px;
  max-height: 294px;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    max-width: 354px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 370px;
  }
}

.overlay {
  position: absolute;

  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .portfolio__link:hover &,
  .portfolio__link:focus & {
    transform: translateY(0%);
  }

  &__text {
    margin: 0;
    padding: 77px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--primery-bg-color);
    text-decoration: none;

    @media screen and (min-width: 768px) {
      padding: 63px 24px;
    }
  }
}
