.portfolio {
  @extend %list;
  display: flex;
  flex-direction: column;
  gap: 30px;

  // @media screen and (max-width: 480px) {
  //   width: 100%;
  // }
  @media screen and(max-width: 480px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__item {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      flex-basis: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 60px) / 3);
    }
  }

  &__link {
    display: block;
    text-decoration: none;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:focus,
  &__link:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
      0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  }
  &__link:hover .overlay {
    transform: translateY(0%);
  }

  &__caption {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
  }

  &__caption-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-decoration: none;
    color: var(--primary-text-color);
  }

  &__caption-bunch {
    margin-top: 4px;

    font-size: 16px;
    line-height: 1.91;
    letter-spacing: 0.03em;
    text-decoration-style: none;
    color: var(--paragraph-text-color);
  }
}
