.socials {
  padding-bottom: 30px;
  padding-left: 32px;

  &__list {
    @extend %list;
    display: flex;
    align-self: center;
    gap: 10px;
  }

  &__item {
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item:hover,
  &__item:active {
    background-color: var(--accent-color);
  }

  &__link {
    @extend %link;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: var(--icons-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon:hover {
    fill: var(--primery-bg-color);
  }

  &__link--dark {
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon--dark {
    fill: var(--primery-bg-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.team__socials {
  margin-top: 16px;
  padding-right: 32px;
}

.footer__socials {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 60px;
  padding: 0;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 50%;
    margin-bottom: 110px;
  }
  @media screen and (min-width: 1200px) {
    display: block;
    // margin-left: 70px;
  }
}

.mobile-socials {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  &__item {
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    align-self: flex-end;
  }

  &__link {
    position: relative;
    @extend %link;
    color: var(--accent-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 22px;
    right: -10px;
    background-color: var(--icons-color);
  }

  // &__link:last-child::after {
  //   background-color: transparent;
  // }

  &__item:hover &__link::after {
    background-color: var(--accent-color);
  }
}

// .mobile-socials__link:not(:last-child)::after {
//   position: absolute;
//   content: "";
//   width: 1px;
//   height: 22px;
//   right: -10px;
//   background-color: var(--icons-color);
// }
