.main-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--primery-bg-color);
}

// .main-title {
//   font-size: 44px;
// }

.main-title__hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  align-self: center;

  // margin-left: auto;
  // margin-right: auto;

  // margin: 0 auto;
  // max-width: 696px;
}

.section-title {
  margin-bottom: 30px;

  font-size: 28px;
  line-height: 1.17;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  // font-size: 36px;
  // margin-bottom: 50px;
}

.social__title-footer,
.subscribe__footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-bg-color);
  align-self: center;
}
