%link {
  color: var(--primary-text-color);
  text-decoration: none;
}

%list {
  list-style: none;
  text-decoration: none;
}

%img {
  display: block;
  max-width: 100%;
}

%section {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
